@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldıniz</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Ahmet Güvendiğin Blog Sayfası Seni Bekliyor...</p>
    }
    else
    {
        <p>Ahmet Güvendiğin Blog Sayfası İçin Lütfen Önce Giriş Yapınız</p>
    }

</div>

