@using Blog.Application.CQRS.Commands.Blog.CreateBlog
@model CreateBlogCommandResponse
    <div class="col-6">
        <h4>Ekleme İşlemi</h4>
        <form asp-action="CreateBlog" asp-controller="Blog" method="post">

            <div class="mb-3">
                <label>
                    Title:
                </label>
                <span class="text-danger" asp-validation-for=@Model.Title></span>
                <input type="text" asp-for=@Model.Title class=form-control />
            </div>


            <br />

            <div class="mb-3">
                <label>
                    Description:
                </label>
                <span class="text-danger" asp-validation-for=@Model.Description></span>
                <input type="text" asp-for=@Model.Description class=form-control />
            </div>

            <br />

            <div class="mb-3">
                <button>
                    Kaydet
                </button>
            </div>

        </form>
        </div>