@using Blog.Application.Features.Queries.Blog.GetAllBlog
@model GetAllBlogQueryResponse

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>CreatedTime</th>
        </tr>
    </thead>
    <tbody>
      

    </tbody>

</table>