@using Blog.Domain.Entities
@model IQueryable<Blog>

<table  class="mt-4 table table-hover">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Title</th>
                <th><a asp-action="DetailBlog" asp-controller="MemberBlog" asp-route-id=@item.Id>Detay</a></th>
            </tr>
        }
    </tbody>
</table>