@using Blog.Application.ViewModels.User
@model ResetPassword

<form asp-action="ResetPassword" asp-controller="User" method="post">
    <input type="hidden" asp-for=@Model.Email />
    <input type="hidden" asp-for=@Model.Token />
    <div>

        <label>Sifre Giriniz</label>
        <input type="password" asp-for=@Model.Password />
    </div>

    <br />

    <div>
        <label>Sifreyi Tekrar Giriniz</label>
        <input type="password" asp-for=@Model.ConfirmPassword />
    </div>

    <br />

    <div>
        <button>
            Save
        </button>
    </div>
</form>