@using Blog.Application.ViewModels.User
@model ResetPassword

    <form asp-action="ResetPasswordForEmail" asp-controller="User" method="post">
        <div>
            <label>Email Giriniz</label>
            <input type="email" asp-for=@Model.Email />

        </div>

        <br />

        <div>
            <button>
                Save
            </button>
        </div>

</form>