@using Blog.Application.ViewModels.User
@model VM_User_SignIn

<form asp-action="SignIn" asp-controller="User" method="post">

    <div>
        <label>Kullanici Adi Ya Da Email Giriniz</label>
        <input type="text" asp-for=@Model.Username />
    </div>

    <br />

    <div>
        <label>Sifrenizi Giriniz</label>
        <input type="password" asp-for=@Model.Password />
    </div>

    <br />

    <div>
        <button>
            Sign In
        </button>
    </div>
</form>